
/* Custom Scrollbar Styles */
.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

/* Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 #f1f1f1;
}
